  @model EditAccountViewModel

  <!-- page-title -->
<div class="tf-page-title">
    <div class="container-full">
        <div class="heading text-center">Account Details</div>
    </div>
</div>
<!-- /page-title -->
<!-- page-cart -->
<section class="flat-spacing-11">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
               <partial name="_AccountMenuPartial"></partial>
            </div>
            <div class="col-lg-9">
                <div class="my-account-content account-edit">
                    <div class="">
                        <form  method="post" class="" id="form-password-change" action="#">
                            <div class="tf-field style-1 mb_15">
                                <input asp-for="FirstName" class="tf-field-input tf-input" placeholder=" ">
                                <label class="tf-field-label fw-4 text_black-2" for="property1"> First Name
                                </label>
                                <span asp-validation-for="FirstName"></span>
                            </div>
                            <div class="tf-field style-1 mb_15">
                                <input asp-for="LastName" class="tf-field-input tf-input" placeholder=" ">
                                <label class="tf-field-label fw-4 text_black-2" for="property2">
                                    Last
                                    name
                                </label>
                                <span asp-validation-for="LastName"></span>
                            </div>
                            <div class="tf-field style-1 mb_15">
                                <input asp-for="Email" class="tf-field-input tf-input" placeholder=" ">
                                <label class="tf-field-label fw-4 text_black-2" for="property3">Email</label>
                                <span asp-validation-for="Email"></span>
                            </div>
                            <h6 class="mb_20">Password Change</h6>
                            <div class="tf-field style-1 mb_30">
                                <input asp-for="CurrentPassword" class="tf-field-input tf-input" placeholder=" ">
                                <label class="tf-field-label fw-4 text_black-2" for="property4">
                                    Current
                                    password
                                </label>
                                <span asp-validation-for="CurrentPassword"></span>
                            </div>
                            <div class="tf-field style-1 mb_30">
                                <input asp-for="NewPassword" class="tf-field-input tf-input" placeholder=" ">
                                <label class="tf-field-label fw-4 text_black-2" for="property5">
                                    New
                                    password
                                </label>
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="tf-field style-1 mb_30">
                                <input asp-for="ConfirmPassword" class="tf-field-input tf-input" placeholder=" ">
                                <label class="tf-field-label fw-4 text_black-2" for="property6">
                                    Confirm
                                    password
                                </label>
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="mb_20">
                                <button type="submit"
                                        class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">
                                    Save
                                    Changes
                                </button>
                            </div>
                            <div asp-validation-summary="ModelOnly"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- page-cart -->

<div class="btn-sidebar-account">
    <button data-bs-toggle="offcanvas" data-bs-target="#mbAccount" aria-controls="offcanvas">
        <i class="icon icon-sidebar-2"></i>
    </button>
</div>