@model List<WishlistItemViewModel>

<div class="tf-page-title">
    <div class="container-full">
        <div class="heading text-center">Your wishlist</div>
    </div>
</div>
<!-- /page-title -->
<!-- Section Product -->
<section class="flat-spacing-2">
    <div class="container">
        <div class="grid-layout wrapper-shop" data-grid="grid-4">
            @foreach (var item in Model)
            {
                <partial name="_ProductWishlistPartial" model="@item.Product" />
            }
        </div>
    </div>
</section>
<!-- /Section Product -->

<!-- modal quick_add -->
@foreach (var item in Model)
{
    <partial name="_ProductQuickAddModalPartial" model="@item.Product" />
}
<!-- /modal quick_add -->

<!-- modal quick_view -->
@foreach (var item in Model)
{
    <partial name="_ProductQuickViewModalPartial" model="@item.Product"></partial>
}

<!-- /modal quick_view --> 