<div class="wrap-sidebar-account">
    <ul class="my-account-nav">
        <li><a asp-controller="account" asp-action="index"><span class="my-account-nav-item active">Dashboard</span></a></li>
        <li><a asp-controller="account" asp-action="orders" class="my-account-nav-item">Orders</a></li>
        <li><a asp-controller="account" asp-action="address" class="my-account-nav-item">Address</a></li>
        <li><a asp-controller="account" asp-action="edit" class="my-account-nav-item">Account Details</a></li>
        <li><a asp-controller="account" asp-action="wishlist" class="my-account-nav-item">Wishlist</a></li>
        <li><a asp-account="account" asp-action="logout" class="my-account-nav-item">Logout</a></li>
    </ul>
</div>